/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@font-face {
  font-family: "Zen Maru Gothic";
  src: url("/assets/fonts/Zen_Maru_Gothic/ZenMaruGothic-Regular.ttf");
}

@font-face {
  font-family: "M PLUS Rounded 1c";
  src: url("/assets/fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf");
}

:root {
  // fonts
  --font-Zen-Maru-Gothic: "Zen Maru Gothic", serif;
  --font-M-Plus-Rounded-1c: "M PLUS Rounded 1c", sans-serif;
}

body{
  font-family: var(--font-Zen-Maru-Gothic);
}
.font-Zen-Maru-Gothic{
  font-family: var(--font-Zen-Maru-Gothic);
}
.font-M-Plus-Rounded-1c{
  font-family: var(--font-M-Plus-Rounded-1c);
}
.page-heading{
  @apply text-4xl font-bold py-2 text-emerald-300;
  // @apply text-4xl font-bold py-2 border-b border-b-sky-100;
}

.section-headline{
  @apply text-2xl font-bold py-2 my-2 lg:text-6xl text-emerald-300;
}

section{
  @apply mt-15;
}

.curly-content{

  @apply border border-emerald-300  relative rounded-lg;

  &::after,
  &::before {
    content: "";
    @apply h-2 w-10/12 absolute bg-sky-950 left-1/2 transform -translate-x-1/2;
  }

  &::before {
    @apply -top-1;
  }

  &::after {
    @apply -bottom-1;
  }

  span {
    @apply text-emerald-400;
  }

}
.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #7dd3fc;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #34d399;
    border-radius: 9999px;
    border: 2px solid #7dd3fc;
  }

  scrollbar-width: thin;
  scrollbar-color: #34d399 #7dd3fc;
}

